<h1>New Member</h1>

<p>
Members of your organization can be matched with recipients and recipient families.  
The new member will receive an email asking them to change their password unless
you uncheck Send Email.</p>

<%= render partial: 'form' %>