.card {
  background-color: #FFF;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
  &--body {
    @extend .card  !optional;
    width: 800px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  }
  &--recipient {
    @extend .card  !optional;
    margin: 20px 18px;
    display: inline-block;
    width: $card-recipient-width;
    background-color: #FFF;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
    padding: 10px 0;
    &--details {
      background-color: $input-background-color;
      padding: 10px 0;
      margin: 10px 0;
    }

    &:hover {
      box-shadow: 0px 0px 6px 0px $input-click-color;
    }
    &--selected {
      background-color: $input-click-color;
    }
  }
  &--container {
    width: 840px;
    margin: 0 auto;
  }
}
