form.new_match {
  display: inline-block;
}

.card {
  background-color: #FFF;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
  &--body {
    @extend .card  !optional;
    width: 100vw;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  }
  &--recipient {
    @extend .card  !optional;
    margin: 20px 18px;
    border: none;
    outline: none;
    display: inline-block;
    width: $card-recipient-width;
    background-color: #FFF;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
    padding: 10px 0;
    cursor: pointer;
    &--details {
      background-color: $input-background-color;
      padding: 10px 0;
      margin: 10px 0;
    }
    &:hover {
      box-shadow: 0px 0px 6px 0px $input-click-color;
    }
    &--selected {
      background-color: $input-click-color;
      color: #FFF;
    }
  }
  &--info {
    background-color: $input-background-color;
    text-align: center;
    color: $soft-gray;
    padding: 20px 30px;
    &--primary {
      @extend .card--info  !optional;
      margin: 0px;
      display: inline-block;
      background-color: $match-primary-color;
      width: 100%;
    }
    &--secondary {
      @extend .card--info  !optional;
      margin: 0px;
      display: inline-block;
      background-color: $match-secondary-color;
      width: 100%;
    }
  }
  &--container {
    width: 840px;
    margin: 0 auto;
  }
}

@include bp-sm {
  .card {
    background-color: #FFF;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    &--body {
      width: 760px;
      box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    }
    &--recipient {
      margin: 20px 18px;
      border: none;
      outline: none;
      display: inline-block;
      width: $card-recipient-width;
      background-color: #FFF;
      box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
      padding: 10px 0;
      cursor: pointer;
      &--details {
        background-color: $input-background-color;
        padding: 10px 0;
        margin: 10px 0;
      }
      &:hover {
        box-shadow: 0px 0px 6px 0px $input-click-color;
      }
      &--selected {
        background-color: $input-click-color;
        color: #FFF;
      }
    }
    &--info {
      background-color: $input-background-color;
      text-align: center;
      color: $soft-gray;
      padding: 30px 50px;
      &--primary {
        margin: 0px 56px;
        display: inline-block;
        background-color: $match-primary-color;
        width: calc(calc(100% / 3) - 40px);
      }
      &--secondary {
        margin: 0px 0px;
        display: inline-block;
        background-color: $match-secondary-color;
        width: calc(calc(100% / 3) - 40px);
      }
    }
    &--container {
      width: 840px;
      margin: 0 auto;
    }
  }
}
