h1 {
  font-size: 38px;
  font-family: $heading-font-family;
}

h2 {
  font-size: 26px;
  font-family: $heading-font-family;
  &.decorated {
    @extend h2  !optional;
    margin: 20px auto;
    padding: 20px 0px;
    width: 296px;
    border-top: solid 1px $soft-gray;
    border-bottom: solid 1px $soft-gray;
  }
}

p {
  font-size: 18px;
  font-family: $body-font-family;
}
