// Default Colors
$input-background-color:      rgba(200,192,169, .2);
$body-background-color:       rgb(255,255,255);
$input-click-color:           rgb(234,204,150);
$background-color:            #FBF4ED;
$input-toggle-color:          rgba(200,192,169, .92);
$secondary-color:             rgba(200,192,166, .45);
$thrird-color:                rgba(200,192,166, .75);

//Default Fonts
$body-font-family:            'Raleway', sans-serif;
$heading-font-family:         'Quicksand', sans-serif;

//Font colors
$soft-gray:                   rgba( 0 , 0 , 0 , .45);

$card-body-width:             800px;
$card-recipient-width:        240px;
$card-body-padding-sides:     40px;
