<h1><%= @organization.name %></h1>

<h2>My Campaigns</h2>
<ul>
<%- @organization.campaigns.each do |campaign| %>
  <li><%= link_to campaign.name, organization_campaign_path(@organization, campaign) %></li>
<% end %>
</ul>
