<p class='text-center'><%= image_tag @organization_campaign.campaign.logo %></p>
<h1 class='text-center'><%= @organization_campaign.organization_name %></h1>
<h2 class='text-center'><em><%= @organization_campaign.campaign_name %></em></h2>
<p class='text-center'><%= @organization_campaign.campaign_description %></p>
