<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      	<% if signed_in? %>
	      	<li><%= link_to current_user.email, edit_user_registration_path %></li>
    	    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    	    <li><%= link_to "Admin", admin_root_path %></li>
    		<% else %>
        	<li><%= link_to "Sign in", new_user_session_path %></li>
    		<% end %>
      </ul><!-- /.login toolbar -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
